Source: svn2dch
Section: devel
Priority: extra
Maintainer: Glenn Y. Rolland <glenn.rolland@gnuside.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: https://github.com/glenux/svn2dch
Vcs-Git: git://github.com/glenux/svn2dch.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/svn2dch.git;a=summary

Package: svn2dch
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Generate debian-style changelog from repository history
 Takes a subversion working copy and generates a debian-compatible changelog
 based on repository history.
